<h3>Admin</h3>

<table class="table table-bordered">
      <thead>
        <tr>
          <th>Products</th>
          <th>Categories</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>
            <%= @product_count %>
          </th>
          <th>
            <%= @category_count %>
          </th>
        </tr>
      </tfoot>
    </table>
