<h3> About us </h3>

<p>
Lo, and behold! Wares from far beyond, ready to be bought.
</p>
<p>
Jungle is a little app made with Ruby on Rails for teaching purposes.
</p>
<p>
These are not real products, please don't buy any of this. 
</p>